@charset "utf-8";

.imgC {
    float: left; 
    top: 17%;
    left: 12%;
    
}

.menuEjeDos ul a {
    width: 300px;
    
    margin-right: 20px;
    margin-left: 600px;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    text-align:center;
    padding: 1em;
    
}

.menuEjeDos ul {
    margin-top: 100px;
}

.menuEjeDos ul a:hover {
    color: black; 
    background-color: rgb(217, 217, 214, .5);
}

.botConf {
    width: 10%;
    
    /*top:35%;
    left: 77%;*/
    position: absolute;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    /*background-image: url('../imagenes/browse.svg');*/
    background-position: 2%;
    font-size: 1em;
    color: white;
    background-color: rgb(24,134,190);
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 2px solid #1883ba;  
}

.botConf:hover{
    color: black; 
    background-color: rgb(217, 217, 214, .5);
  }

  .altaEjer2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    font-size: larger;
    gap: 60px;
  }

  .centro {
    grid-column: span 2;
  }

  .titulo {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
  }

  .escribe {
    display: flex;
    justify-items: start;
    justify-content: space-evenly;
  }

  .inputs input[type="file"] {
    /* display: inline-block; */
    /* position: relative; */
    /* width: 40px; */
    display: none;
  }

.btnSeleccionar {
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    font-weight: normal;
    font-size: small;
}

.inputs img {
    width: 80px;
}

.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: large;
  gap: 10px;
}

.pregunta {
  margin-top: 30px;
}

.titulo1 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: darkblue;
  margin-top: 50px;
  margin-bottom: 30px;
}

.botonEj2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}