@charset "utf-8";
/* CSS Document */

:root{ /* variables para estilos */
	--morado: #670ab3;
	--moradoOscuro: #3a0ca3;
	--azulOscuro: #4361ee;
	--azul: #4895ef;
	--blanco: #ffffff;
	--negro: #000000;
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

body {
	background: var(--blanco);
	background: linear-gradient(125deg, var(--blanco) 60%, var(--azul) 90%);
	font-size:16px;
	padding: 15px 20px;
	color:#484848;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-height: 100vh;
}

.fondo {

	background: var(--blanco);
	background: linear-gradient(125deg, var(--blanco) 60%, var(--azul) 90%);
	font-size:16px;
	padding: 15px 20px;
	color:#484848;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-height: 100vh;
}

/*-----------------------------------------------------------------------------------------------*/
/* Para Expandir el fondo de pantalla 

#background { 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	z-index: -1;  Ensure div tag stays behind content; -999 might work, too.  
} */

.stretch { 
	width:100%; 
	height:100%; 
}
/*-----------------------------------------------------------------------------------------------*/

/* Estilo para el login*/
.div_container_sesion {
    width:auto;
    top: 0;
    left: 0;
    padding: 5px 5px;
	box-shadow: 4px 4px 4px rgba(48,149,207,.5); /* Poner sombra al menu en la parte inferior*/
    border: 1px solid #3095CF;
	border-radius:8px;
	background-color: #FFF;
    /* background: linear-gradient(to bottom, #fff, #f1f1f1);  Degradado de dos colores*/
	min-height: 100px;
	opacity: 0.90; /* Poner un grado de transparencia*/
}

.div_container_title_sesion { 
	width:auto; 
	height:30px;
	margin-left:-6px; 
	margin-top:-6px;
	margin-right:-6px;
	border-radius: 8px 8px 0px 0px;
	border: 1px solid #3095CF;
	/* background: linear-gradient(to bottom, #d1b5c3, #997ba8); */
	background: linear-gradient(to bottom, #E7F5FD, #3095CF); 
	position: relative;
	padding-left: 8px;
	padding-top: 7px;
	padding-bottom: -4px;	
}

.font_title_sesion {
	/*padding-left:inherit; 
	padding-bottom: 15px;
	padding-top:5px; */
	padding:10px 20px;
	color:#0B70A6; 
	font-size:18px;
}

.font_label_sesion {
	font-size:16px;
	color:#777;
}

.contacto_index{
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #FFFFFF, #d1b5c3);  /* Degradado del fondo */ 
	width: 100%;
	height:80px;
	box-shadow: 0px 4px 4px rgba(72,38,128,.5); /* Poner sombra al menu n la parte inferior*/
	display:block;
	box-sizing:border-box;
	
}
/*-----------------------------------------------------------------------------------------------*/

/* Formato de los titulos de los "div_container_title" */ 
.font_title {
	padding-left:inherit; 
	padding-top:5px; 
	color:#556080; 
	font-size:16px;
	font-weight: bold;
}

.font_title_azul {
	padding-left:inherit; 
	padding-top:5px; 
	color:#8198A6; 
	font-size:16px;
	/*font-weight: bold;*/
}

/* Estilo para el login*/
.div_container {
    width:auto;
    top: 0;
    left: 0;
    padding: 5px;
	box-shadow: 4px 4px 4px rgba(201,201,201,.5); /* Poner sombra al menu n la parte inferior*/
    border: 1px solid #d7d7d7;
	border-radius: 12px 0px 12px 0px;
	background: #FFF;
    /* background: linear-gradient(to bottom, #fff, #f1f1f1);  Degradado de dos colores*/
}

.div_container_title { 
	width:auto; 
	height:29px;
	margin-left:-6px; 
	margin-top:-6px;
	margin-right:-6px;
	border-radius: 12px 0px 0px 0px;
	border: 1px solid #d7d7d7;
	background: linear-gradient(to bottom, #fff, #e1e1e1);
	position: relative;
	padding-left: 8px;
	padding-top: 7px;
	padding-bottom: -4px;	
}

/*-----------------------------------------------------------------------------------------------*/

.boton_color {
	box-shadow: 0px 5px 5px rgba(231,223,234,.5); /* Poner sombra al menu n la parte inferior*/
	/*background: linear-gradient(to bottom, #a0c6e2, #1270b7);
	background: linear-gradient(to bottom, #e0cdd7, #9a5a7c);
	background: linear-gradient(to bottom, #c0c7da, #6c7ba8);
	background: linear-gradient(to bottom, #fff, #e1e1e1);*/

	background: linear-gradient(to bottom, #fff, #e1e1e1);
	color: #556080;
	/*color:#1270b7;*/
}

.boton_color_2 {
	box-shadow: 0px 5px 5px rgba(243,243,243,.5); /* Poner sombra al menu n la parte inferior*/

	background: linear-gradient(to bottom, #c0c7da, #6c7ba8);
	color: #FFFFFF;
}

select{
	height:30px;
	border-radius: 6px;
	background-color:#FFFFFF;
}

/*-----------------------------------------------------------------------------------------------*/

.color_title_table {
	background: linear-gradient(to bottom, #fff, #e1e1e1);
	color:#6b6a6a;
	font-size: 14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------*/

.font_comentarios {
	padding-left:inherit; 
	padding-top:5px; 
	color:#777; 
	font-size:12px;
}

.font_comentarios_2 {
	padding-left:inherit; 
	padding-top:2px; 
	color:rgb(167, 43, 43); 
	font-size:14px;
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------*/

.estilo_modal_header{
	background: linear-gradient(to bottom, #fff, #55608065); 
	border-radius: 12px 12px 0px 0px;
}

/*-----------------------------------------------------------------------------------------------*/

/* Estilo para los archivos*/ 
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
    right: 0;
	min-width: 100%;
    min-height: 100%;
	font-size: 100px;
    text-align: right;
	filter: alpha(opacity=0);
    opacity: 0;
	outline: none;
    background: white;
	cursor: inherit;
    display: block;
}


.tabConsulta {
	margin-top: 5%;
	position: relative;
	width: 44%;
	margin-left:-35%;
  }
  
  tr:hover th {
	background-color: #607c8c;
	color:white;
  }
  
 /* table th,
  table td {
	padding: 12px 15px;
  }
  
  tbody tr {
	border-bottom: 1px solid #b5b4b6;
  }
  
  tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
	border-bottom: 2px solid #556080;
  }
  
  tbody tr.active-row {
	font-weight: bold;
	color: #556080;
  } */